---
---

<a href="/" class="ds-logo" aria-label="DugulásSegély főoldal">
  <span class="ds-logo__mark" aria-hidden="true">
    <span class="ds-logo__letters">
      <span class="ds-logo__d">D</span>
      <span class="ds-logo__s">S</span>
    </span>
  </span>

  <span class="ds-logo__text">
    <span class="ds-logo__name">DUGULÁSSEGÉLY</span>
    <span class="ds-logo__tag">DUGULÁSELHÁRÍTÁS 0–24</span>
  </span>
</a>

